@font-face {
    font-family: iconfont;
    src: url(font/iconfont.eot);
    src: url(font/iconfont.eot?#iefix) format('embedded-opentype'),
    url(font/iconfont.woff) format('woff'),
    url(font/iconfont.ttf) format('truetype'),
    url(font/iconfont.svg#iconfont) format('svg')
}
@font-face {
    font-family: iconfont;
    src: url(font/font2/iconfont2.eot);
    src: url(font/font2/iconfont.eot?#iefix) format('embedded-opentype'),
    url(font/font2/iconfont.woff) format('woff'),
    url(font/font2/iconfont.ttf) format('truetype'),
    url(font/font2/iconfont.svg#iconfont) format('svg')
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:12px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.iconfont2{
    font-family:"iconfont2" !important;
    font-size:12px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.w_1190{
	width: 1190px;
	margin:0 auto;
}
.header{
	height: 36px;
	line-height: 36px;
	font-size:12px;
	overflow: hidden;
}
.headerL{
	padding-left: 6px;
	width: 196px;
}
.header-red{
	color: #f22e00;
	padding-right: 8px;
}
.header-gray{
	padding-right: 20px;
}
.headerR{
	width: 586px;
	padding-right: 10px;
}
.headerR .bar{
	padding-left: 14px;
}
.headerR .bar span{
	color:#f22e00;
	font-weight: bold;
}
.headerR .bar .red{
	color: #ff4400;
}
.headerR .ico{
	padding-left: 10px;
	color: #9c9c9c;
}
.headerR .ico2{
	padding-right: 7px;
	color: #9c9c9c;
}
.headerR .bar .icoL{
	padding-right: 7px;
	color: #ff4400;
}
.headerR .shu{
	padding-left: 18px;
	padding-right: 12px;
	color: #e1dde1;
}

.orange{
	color: #f40;
}
.black{
	color: #545454;
	font-weight: bold;
}
.hot-red{
	width: 9px;
	height: 14px;
	margin-top: -1px;
	background:url(../img/hot-red.gif) no-repeat;
	position: absolute;
	right: -9px;
	top: 0;
}
.hot-green{
	width: 9px;
	height: 14px;
	margin-top: -1px;
	background:url(../img/hot-green.gif) no-repeat;
	position: absolute;
	right: -9px;
	top: 0;
}
.subwrap{
	width: 890px;
	padding-top: 10px;
	margin-top: 10px;
	border: 1px solid #eee;
	position: relative;
}
.subwrap .title{
	width: 100px;
	height: 24px;
	line-height: 24px;
	font-size: 15px;
	font-weight: bold;
	color: #3c3c3c;
	padding-left: 15px;
	margin-left: -1px;
	border-left: 2px solid #f40;
}
.subwrap:hover{
	border-color: #f40;
}
.subwrap:hover .submore{
	display: block;
}
.subwrap:hover .title{
	border-left-color: transparent;
}
.subwrap .menu{
	width: 430px;
	padding-left: 13px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.subwrap .menu a{
	padding-right: 10px;
	color: #3c3c3c;
}
.subwrap .menu a.orange{
	color: #f40;
}
.subwrap .menu a:hover{
	color: #f40;
}
.subwrap .menu a.a-title{
	font-weight: bold;
}
.Lbox{
	width: 208px;
	height: 81px;
	padding:15px 0;
}
.Lbox img{
	width: 100px;
	height: 80px;
	padding-right: 8px;
}
.Lbox p{
	width: 100px;
	line-height: 24px;
	padding:3px 0;
}
.Lbox img:hover{
	background: white;
	opacity: .7;
	filter:alpha(opicity=70);
}
.submore{
	width: 40px;
	height: 20px;
	line-height: 20px;
	padding-left: 8px;
	border: 1px solid #eee;
	position: absolute;
	top:20px;
	right: 10px; 
	display: none;
}
.submore:hover{
	background-color:#ff5500;
	border-color:#ff5500;
	color: #fff; 
}
.submore:hover a{
	color: #fff;
}
.submore a:hover{
	color: #fff;
}